# Node modules
node_modules
**/node_modules

# Build output
dist
build
out
tmp

# Git
.git
.gitignore

# IDE / editor files
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker files (to avoid recursive copying)
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# Nx cache
.nx

# Project-specific docs
SETUP.md
